/* Footer Section Styles */
.footer-section {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }
  
 
  
  .copywrite {
    font-size: 14px;
    margin-top: 20px;
  }
  