/* Footer Section Styles */
.footer-section {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }
  
  /* .animation-wrapper {
    display: inline-block;
    position: relative;
  } */
  
  /* #thanks-animation {
    font-size: 36px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
  } */
  
  .copywrite {
    font-size: 14px;
    margin-top: 20px;
  }
  