/* Home Section Styles */

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.home-section {
  position: relative;
  text-align: center;
  height: 600px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
}

.content-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.name-wrapper {
  opacity: 0;
  animation: fadeIn 1s forwards;
  color: white;
  font-size: 20px;
}

.name {
  font-size: 40px;
  margin-bottom: 40px;
  font-family: 'Alkatra', cursive;
  color: #fff;
}

.download-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  /* background-color: #333; */
  background-color: orangered;
  /* background-image: linear-gradient(to bottom, #FFA500, #FF4500); */
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  /* background-color: #555; */
  background-color: tomato;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .name {
      font-size: 30px;
      margin-bottom: 10px;
  }

  .name-wrapper h2, .name-wrapper h3 {
      font-size: 16px;
  }

  .download-button {
      font-size: 16px;
      padding: 10px 20px;
  }
}





