/* Navigation Menu Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: paleturquoise;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  nav ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul.menu li {
    margin: 0 10px;
  }
  
  nav ul.menu li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  nav ul.menu li a:hover {
    color: #ff7f50;
  }
  
  body {
    padding-top: 80px; 
  }


  @media (max-width: 768px) {
    header {
      padding: 10px;
    }
    
    nav ul.menu {
      flex-direction: column; 
      align-items: center;
    }
    
    nav ul.menu li {
      margin: 10px 0;
    }
  }

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; 
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}