/* Navigation Menu Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #45FFCA;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: transform 0.3s ease-in-out;
}

nav ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul.menu li {
  margin: 0 10px;
}

nav ul.menu li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}

nav ul.menu li a:hover {
  color: #FEFFAC;
}

body {
  padding-top: 80px;
}

@media (max-width: 768px) {
  .menu-toggle {
      display: flex;
  }

  .menu-toggle.active span:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.active span:nth-child(2) {
      opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
  }

  nav ul.menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: paleturquoise;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 999;
  }

  nav ul.menu.active {
      display: flex;
  }

  nav ul.menu li {
      margin: 10px 0;
  }
}
